<!DOCTYPE html>
<html>
<head>
<title>Flexmonster-React</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
<script src="https://cdn.fusioncharts.com/code/latest/react-fusioncharts.js"></script>
  
<script src="https://cdn.flexmonster.com/flexmonster.js"></script>
<script src="https://cdn.flexmonster.com/lib/flexmonster.fusioncharts.js"></script>
<!-- Flexmonster Theme -->
<link rel="stylesheet" type="text/css" href="https://cdn.flexmonster.com/theme/dark/flexmonster.min.css" />
<script src="https://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
<script type="text/javascript" src="https://unpkg.com/react-fusioncharts@2.0.1/dist/react-fusioncharts.min.js"></script>
<!-- FusionCharts Themes -->
<script src="https://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.fusion.js"></script>
<script src="https://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.candy.js"></script>
</head>
<body>
<div id="fm-component"></div>
  
  
  <table>
  <tr>
    <td><div id="doughnutchart-container"></div></td>
    <td><div id="columnchart-container"></div></td>
    
    <td><div id="barchart-container"></div></td>
  </tr>
     <tr>
    <td><div id="areachart-container"></div></td>
    <td><div id="linechart-container"></div></td>
    <td><div id="linechart-container2"></div></td>
  </tr>
  </table>
  
  <div id="radarchart-container"></div>
</body>
</html>